.code-container {
	visibility: hidden;
	opacity: 0;
	--2fa-code-padding-h: 5px;
	--2fa-code-padding-v: 3px;
	--2fa-code-countdown-margin-top: 3px;
	position: relative;
	display: flex;
	width: fit-content;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px auto;
	font-size: var(--font-size-2fa-code);
	line-height: 1;
	transition-property: visibility, opacity;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	&.visible {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		filter: brightness(150%);
	}
	100% {
		filter: brightness(100%);
	}
}
.code {
	position: relative;
	border-width: 0;
	border-radius: 5px;
	padding: var(--2fa-code-padding-v) var(--2fa-code-padding-h);
	background: none;
	font-family: var(--font-family-2fa-code);
	font-size: inherit;
	color: inherit;
	&:hover,
	&.copied {
		background-color: var(--color-2fa-code-hover);
		box-shadow: 0 0 0 2px var(--color-2fa-code-hover);
		cursor: pointer;
	}
	&.copied {
		animation: flash 750ms ease-in-out forwards;
	}
}

.code-countdown {
	visibility: hidden;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 10;
	margin-top: var(--2fa-code-countdown-margin-top);
	padding: var(--2fa-code-padding-v) var(--2fa-code-padding-h);
	&.visible {
		visibility: visible;
	}
}
.code-countdown-bar-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
}
.code-countdown-bar {
	display: inline-block;
	width: calc(var(--percent-time-remaining) * 100%);
	background-color: hsl(calc(var(--percent-time-remaining) * 90), 75%, 50%);
	height: 16px;
	transition-property: width, background-color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	border-radius: 3px;
}
.code-countdown-count {
	text-align: right;
	min-width: 24px;
	font-size: var(--font-size-2fa-code-countdown-count);
}

.copy-to-clipboard-message {
	pointer-events: none;
	position: absolute;
	bottom: 100%;
	left: 0;
	min-width: 100%;
	font-size: var(--font-size-copy-to-clipboard-message);
	text-align: center;
	user-select: none;
	color: var(--color-copy-to-clipboard-message);
	transition-property: visibility, opacity, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
	visibility: hidden;
	opacity: 0;
	transform: translateY(100%);
	.code:hover + & {
		visibility: visible;
		opacity: 1;
		transform: translateY(-5px);
	}
}
