.field[data-field-id='reveal'] {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

label[for='reveal'] {
	margin-right: 0;
	font-size: var(--font-size-reveal-labelg);
}
input#reveal {
	margin-right: 0;
}
